@tailwind base;
    @tailwind components;
    @tailwind utilities;

    body {
      font-family: 'Tajawal', sans-serif;
    }

    @font-face {
      font-family: 'Amiri-Regular';
      src: url('/fonts/Amiri-Regular.ttf') format('truetype');
    }
